.Bookings {
  height: 100vh;
  background-color: #f4f3ef;
}

.content {
  height: 100%;
}

.dateTab {
  color: #7c0902;
  font-family: "Poppins-SemiBold";
  font-size: 0.9em;
  width: 100%;
}

.date {
  background-color: #f4f3ef;
  border: 2px solid #7c0902;
  border-radius: 30px;
}

.redBox {
  background-color: #7c0902;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 80%;
}

.whiteBox {
  border-radius: 10px 10px 0 0;
}

.header {
  font-family: "Poppins-Bold";
  font-size: 1.5em;
  color: #7c0902;
}

.bookingDetails {
  font-family: "Poppins-Medium";
  color: #7c0902 !important;
}