.navbar {
  position: fixed !important;
}

.toggle {
  background-color: #f7b538;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 1);
  margin-right: 20px !important;
}

.pageName {
  font-family: "Poppins-SemiBold";
  color: #7c0902 !important;
}

.sidebar {
  background-color: #f7b538 !important;
}

@media screen and (min-width: 1200px) {
  .sidebar {
    width: 20% !important;
  }
}

.brand {
  display: flex !important;
  align-items: center !important;
  margin-top: 1em;
  cursor: pointer;
}

.logo {
  width: 20%;
  height: 20%;
}

.brandName {
  font-family: "Degradasi";
  font-size: 1.2em;
  color: #7c0902;
  margin-top: 5px;
  margin-left: 5px;
}

.navItem {
  color: #7c0902 !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.3em !important;
  border-radius: 10px;
}

.navItem:hover {
  color: #f7b538 !important;
  background-color: #7c0902 !important;
}

.active {
  color: #f7b538 !important;
  background-color: #7c0902 !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.3em !important;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.logout {
  margin-top: auto !important;
}