.Dashboard {
  height: 100vh;
  background-color: #f4f3ef;
}

.content {
  height: 100%;
  overflow-y: hidden;
}

.card,
.notificationCard {
  border: none !important;
}

.cardHeader {
  align-items: center;
  background-color: #f7b538 !important;
  border-bottom: 1px solid #7c0902 !important;
  color: #7c0902 !important;
  font-family: "Poppins-Bold";
  font-size: 1.2em;
  padding: 10px;
}

.cardContent {
  font-family: "Poppins-Medium";
}

.userInfo {
  margin-left: 1em;
}

.dateTab {
  color: #7c0902;
  font-family: "Poppins-SemiBold";
  font-size: 0.9em;
  width: 100%;
}

.date {
  background-color: #f4f3ef;
  border: 2px solid #7c0902;
  border-radius: 30px;
}

.redBox {
  background-color: #7c0902;
  border-radius: 10px 10px 0 0;
  height: 85%;
  overflow-y: auto;
}

.nameRole {
  color: #384e77;
}

.organizationName {
  font-family: "Poppins-Bold";
}

.organizationRole {
  font-family: "Poppins-Medium";
}

.org-item:hover * {
  background-color: #7c0902;
  border-radius: 5px;
  color: #f7b538 !important;
}

.card {
  cursor: pointer;
}

/* "New Booking" Modal */
.nodal {
  color: #384e77 !important;
  font-family: "Poppins-Bold";
}

.modal-header {
  color: #7c0902 !important;
  font-family: "Poppins-Bold";
}

.field-edit {
  border: none !important;
  border-bottom: 1px solid #7c0902 !important;
  border-radius: 0 !important;
  font-family: "Poppins-Regular";
}

.field-edit:focus {
  border: none !important;
  border-bottom: 1px solid #7c0902 !important;
  border-radius: 0 !important;
  font-family: "Poppins-Regular";
  box-shadow: 0 0 4px 4px rgb(247, 181, 56, 0.5) !important;
}

.field-label {
  color: #7c0902;
  font-family: "Poppins-SemiBold";
}

.invalid-option {
  color: #7c0902;
}