.backgroundContent {
  min-height: 100vh;
  background-color: #f4f3ef;
}

.notificationCard {
  min-height: 65vh !important;
}

.card {
  min-height: 31vh !important;
}

.card,
.notificationCard {
  border: none !important;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7b538 !important;
  color: #7c0902 !important;
  font-family: "Poppins-Bold";
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 1px solid #7c0902 !important;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-Medium";
}

.userContent {
  display: flex;
  align-items: center;
}

.userInfo {
  margin-left: 1em;
}

.dateTab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60vw;
  margin-top: 4em;
  font-family: "Poppins-SemiBold";
  font-size: 0.9em;
  color: #7c0902;
}

.date {
  background-color: #f4f3ef;
  padding: 10px;
  border: 2px solid #7c0902;
  border-radius: 30px;
}

.redBox {
  /* or make it relative idk haha pending pa na */
  position: relative;
  background-color: #7c0902;
  padding: 2em;
  min-height: calc(100vh - 30px);
  margin-top: 1em;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 60vw;
}
