.App {
  height: 100vh;
}

.bg {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.no-bg {
  background-color: #f4f3ef;
}