@import url("../../styles/fonts.css");

.content {
  overflow-y: hidden;
}

.supportHeader {
  font-size: 4em;
  font-family: "Degradasi";
  text-align: center;
  color: #f7b538;
  padding-top: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contentHeader {
  font-size: 30px;
  font-family: "Poppins-SemiBold";
  color: #18314f;
}

.question {
  font-size: 2em;
  font-family: "Poppins-SemiBold";
  color: #7c0902;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.searchBar {
  width: 100%;
  padding-left: 4em;
  height: 4em;
  border: #7c0902 3px solid;
  border-radius: 1em;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;
  color: #7c0902;
}

.categoryButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 12em;
  border-radius: 20px;
  padding: 1em;
  border: none;
  background-color: #7c0902;
  color: #f7b538;
  font-family: "Poppins-Medium";
  transition: 0.3s ease-in;
  box-shadow: 0px 0px 15px rgba(24, 49, 79, 0.5);
}

.categoryButton:hover {
  border: 2px solid #7c0902;
  background-color: white;
  color: #7c0902;
  box-shadow: 0px 0px 15px rgba(124, 9, 2, 0.5);
}

.categoryLabel {
  font-family: "Poppins-Medium";
  font-size: 1.3em;
  margin-top: 5px;
  line-height: 25px;
}

.inputLabel {
  font-family: "Poppins-Medium";
  color: #18314f;
  font-size: 1.5em;
}

.inputBox {
  height: 3em;
  border: #7c0902 2px solid;
  border-radius: 0.7em;
  padding-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 100%;
}

.submitButton {
  width: 9em;
  height: 2em;
  background-color: #7c0902;
  color: #f7b538;
  font-family: "Degradasi";
  font-size: 1.3em;
  border: none;
  border-radius: 30px;
  margin-bottom: 2vh;
}

.submitButton:hover {
  background-color: #f7b538;
  color: #7c0902;
}

@media (min-width: 300px) and (max-width: 1399px) {
  .customSpacing > div {
    margin-right: 4em;
  }
}


