.backgroundContent {
  height: 100vh;
  background-color: #f4f3ef;
}

.selector-button Button {
  height: 90px;
  width: 300px;
  font-size: 20px;
  font-family: "Poppins-Bold";
  text-align: left;
  border-radius: 13px;
  color: #7c0902;
  background-color: #f4f3ef;
  border: #7c0902 2px solid;
}

.selector-button p {
  font-family: "Poppins-Medium";
  font-size: 0.7em;
  line-height: 0.9;
  color: #0d0630;
}

.selector-button Button:hover {
  color: #f7b538;
  background-color: #7c0902;
  border: none;
}

.selector-button Button:hover p {
  color: #f4f3ef;
}

.selector-button Button:active {
  color: #f7b538 !important;
  background-color: #7c0902 !important;
  border: #f7b538 2px solid !important;
}

.selector-button Button:active span {
  color: #f4f3ef !important;
}

.active-button button {
  height: 90px;
  width: 300px;
  font-size: 20px;
  font-family: "Poppins-Bold";
  text-align: left;
  border-radius: 13px;
  color: #f7b538;
  background-color: #7c0902;
  border: #7c0902 2px solid;
}

.active-button p {
  font-family: "Poppins-Medium";
  font-size: 0.7em;
  line-height: 0.9;
  color: #f4f3ef;
}

.active-button Button:hover {
  color: #f7b538;
  background-color: #7c0902;
  border: none;
}

.active-button Button:hover p {
  color: #f4f3ef;
}

.active-button Button:active {
  color: #f7b538 !important;
  background-color: #7c0902 !important;
  border: #f7b538 2px solid !important;
}

.active-button Button:active span {
  color: #f4f3ef !important;
}

.settingsContent {
  border: #7c0902 2px solid;
  border-radius: 10px;
  color: #7c0902;
  font-size: 15px;
  font-family: "Poppins-Bold";
  overflow-x: hidden;
}

.accountHeader {
  background-color: #7c0902;
}

.userPfp {
  color: #f7b538;
}

.settingsHeader {
  font-size: 2em;
  color: #7c0902;
  font-weight: bolder;
}

.password-box {
  border-radius: 10px;
  background-color: #f7b538;
}

.form-label {
  font-family: "Poppins-Bold";
  color: #7c0902;
}

.field {
  font-family: "Poppins-Medium";
  border-bottom: 2px solid #7c0902;
  color: #7c0902;
}

.field-no-border {
  font-family: "Poppins-Medium";
  color: #7c0902;
}

.vehicle-card {
  border: 2px solid #7c0902;
  border-radius: 10px;
}

.vehicle-card-header {
  background-color: #7c0902;
  color: #f4f3ef;
}

.add-vehicle-btn {
  background-color: #f7b538;
  border: none;
  border-radius: 10px;
  color: #7c0902;
  height: 48px;
  font-family: "Degradasi";
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.add-vehicle-btn:hover {
  color: #f7b538;
  background-color: #7c0902;
}

.add-vehicle-btn:active {
  color: #f7b538;
  background-color: #7c0902;
}

.settings-panel {}