.backgroundContent {
  height: 100vh;
  background-color: #f4f3ef;
  /*background-image: url('../../images/wavebg.png')
    background-size: cover;
    background-position: center; */
}

.cardsContainer {
  font-size: 20px;
  margin-top: 2em;
  flex-direction: row;
}

.cardsContainer Button {
  height: 90px;
  width: 300px;
  font-size: 20px;
  font-family: "Poppins-Bold";
  text-align: left;
  border-radius: 13px;
  color: #7c0902;
  background-color: #f4f3ef;
  border: #7c0902 2px solid;
  margin-bottom: 1em;
  padding: 0.9em;
}

.cardsContainer p {
  font-family: "Poppins-Medium";
  font-size: 0.7em;
  line-height: 0.9;
  color: #0d0630;
}

.cardsContainer Button:hover {
  color: #f7b538;
  background-color: #7c0902;
  border: none;
}

.cardsContainer Button:hover p {
  color: #f4f3ef;
}

.cardsContainer Button:active {
  color: #f7b538 !important;
  background-color: #7c0902 !important;
  border: #f7b538 2px solid !important;
}

.cardsContainer Button:active span {
  color: #f4f3ef !important;
}

.accountBox {
    border: #7c0902 2px solid;
    width: 0em;
    height: 25em;
    padding: 1em;
    color: #7c0902;
    font-size: 15px;
    font-family: "Poppins-Bold";
}

.userPfp {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.editProfile {
    width: 9em;
    height: 2em;
    background-color: #f7b538;
    color: #7c0902;
    font-family: "Degradasi";
    font-size: 1.3em;
    border: none;
    border-radius: 30px;
    margin-bottom: 2vh;
    
  }

  .editProfile:hover {
    background-color: #7c0902;
    color: #f7b538;
  }

