@import url("../../styles/fonts.css");

.wildparkName {
  font-family: "Degradasi" !important;
}

.navbarWild {
  color: #7c0902 !important;
  margin-left: 2px !important;
  margin-right: 0 !important;
  font-size: 25px !important;
}

.navbarPark {
  color: #f7b538 !important;
  font-size: 25px !important;
}

.navbarItems {
  font-family: "Poppins-Medium" !important;
  color: #0d0630 !important;
}

.loginButton {
  background-color: #7c0902;
  margin-right: 10px;
  color: #f7b538;
  border: none;
  border-radius: 500px;
  width: 130px;
  height: 35px;
  font-family: "Degradasi";
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.signupButton {
  background-color: #f7b538;
  color: #7c0902;
  border: none;
  border-radius: 500px;
  width: 150px;
  height: 35px;
  font-family: "Degradasi";
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
