@import url("../../styles/fonts.css"); 

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.backdrop {
    background-image: url("../../images/homepage.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}


.whiteContainer {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: white;
}

.aboutHeader {
    font-size: 65px;
    font-family: "Degradasi";
    text-align: center;
    color: #f7b538;
    padding-top: 100px; 
    padding-left: 60px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* OUR STORY */

.storyHeader {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
    text-align: left;
    color: #7c0902;
    padding-top: 70px; 
    padding-left: 300px; 
}

.storyPic {
    width: 60px;
    height: 90px;
    padding-left: 300px;
    padding-bottom: 30px;
}

.storyParagraph {
    width: 400px;
    height: 90px;
    margin-left: 53em;
    font-family: "Poppins-Medium";
}

.line {
    position: absolute;
    margin-left: 16em;
    margin-top: 15em;
    width: 67%;
    height: 3px; 
    background-color: rgba(0, 0, 0, 0.2); 
}

/* MEMBERS */

.membersHeader {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
    text-align: left;
    color: #7c0902;
    padding-top: 8em; 
    padding-left: 300px;
}

.imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    text-align: center;  
   
}
  
.iconStyle {
    width: 155px;
    height: 120px;
    border-radius: 50%;
    margin: 30px;
}

.member {
    text-align: center;
    margin: 10px; 
    font-family: "Poppins-Bold";
    color: #7c0902;
}

.line2 {
    position: absolute;
    margin-left: 16em;
    margin-top: 5em;
    width: 67%;
    height: 3px; 
    background-color: rgba(0, 0, 0, 0.2); 
}

/* HIRING NI DIRI */

.hiringPic {
    width: 60px;
    height: 90px;
    margin-top: 8em;
    padding-left: 300px;
    padding-bottom: 30px;
}

.hiringHeader {
    font-size: 38px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    color: #7c0902; 
    padding-left: 3em;
}

.hiringParagraph {
    width: 400px;
    height: 90px;
    margin-left: 44em;
    font-family: "Poppins-Medium";
}

.hiringButton {
    margin-left: 44em;
    margin-top: 1em;
    width: 8em;
    height: 2em;
    background-color: #7c0902;
    color: #f7b538;
    font-family: "Degradasi";
    border: none;
    border-radius: 20px;
}

.hiringButton:hover {
    background-color: #f7b538;
    color: #7c0902;
}





