.content {
    overflow-y: hidden;
}

.page-header {
    font-size: 65px;
    font-family: "Degradasi";
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f7b538;
}

.content-header {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
    color: #7c0902;
}

.story-img {
    height: 280px;
    width: auto;
}

.divider {
    width: 67%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-style {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin: 30px;
}

.text {
    font-family: "Poppins-Medium";
}

.icon-text {
    font-family: "Poppins-Medium";
    text-align: center;
}